<footer style="margin-top:50px">
<script type="text/javascript" src="https://static.mailerlite.com/data/webforms/193035/q4u2n9.js?v4"></script>
  <hr/>
  <p>	Copyright &copy;Ad Librum Kft. 2016-2026. </p>
</footer>

<script>
/* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
function navFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>

</body>
</html>
